@media screen and (max-width: 1024px) {
    .container {
        max-width: 800px;
        margin: 0 auto;
    }
    .catalog {
        &__content {
            &_active {
                justify-content: space-around;
            }
        }
    }
    .reviews {
        &-item {
            margin-bottom: 120px;
        }
    }
    .header {
        &__logo {
            img {
                width: 80%;
            }
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 568px;
    }
    .header {
        &__logo {
            max-width: 170px;
            min-width: 200px;
            img {
                width: 65%;
            }
        }
        &__official {
            font-size: 8px;
            span {
                font-size: 14px;
            }
        }
        &__phone {
            font-size: 12px;
        }
    }
    .promo {
        &__header {
            font-size: 34px;
        }
        &__subheader {
            margin-top: 4px;
            font-size: 22px;
        }
    }
    .advantages {
        &__item {
            width: 135px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .carousel {
        &__inner {
            width: 650px;
            margin: 0;
            position: relative;
            img {
                width: 100%;
            }
        }
    }
    .reviews {
        &-item {
            &__alltext{
                &__review {
                    font-size: 13px;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .container {
        width: 390px;
    }
    .header {
        align-items: center;
        justify-content: center;
        &__logo {
            max-width: 60px;
            min-width: 120px;
            img {
                width: 75%;
            }
        }
        &__official {
            font-size: 6px;
            span {
                font-size: 10px;
            }
        }
        &__phone {
            font-size: 10px;
        }
    }
    .button {
        width: 135px;
        height: 25px;
        font-size: 10px;
        &_main {
            font-size: 8px;
            margin-top: 30px;
        }
        &_submit {
            font-size: 9px;
        }
    }
    .promo {
        min-height: 604px;
        &__header {
            font-size: 22px;
        }
        &__wrapper {
            align-items: center;
        }
        &__subheader {
            margin-top: 2px;
            font-size: 14px;
        }
        &__icons {
            margin-top: 50px;
            width: 300px;
            padding-right: 30px;
        }
    }
    .title {
        font-size: 25px;
        &_left {
            font-size: 22px;
        }
    }
    .advantages {
        height: 850px;
        &__header {
            margin-top: 50px;
            font-size: 24px;
        }
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-top: 15px;
            width: 185px;
        }
        &__text {
            margin-top: 0;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .carousel {
        &__inner {
            width: 400px;
            margin: 0 auto;
            position: relative;
        }
        &__inner {
            img {
                height: 300px;
            }
        }
    }
    .catalog {
        &__tab {
            font-size: 10px;
            width: 100px;
        }
    }
    .footer {
        &__info {
            width: 410px;
        }
    }
    .reviews {
        &-item {
            &__alltext {
                width: 170px;
                &__review {
                    font-size: 9px;
                }
            }
            &__img {
                height: 105px;
                width: 105px;
            }
        }
    }
    .reviews {
        &-item {
            margin-bottom: 130px;
        }
    }
}

@media screen and (max-width: 320px) {
    .container {
        width: 300px;
    }
    .header {
        &__logo {
            max-width: 40px;
            min-width: 80px;
            img {
                width: 75%;
            }
        }
        &__official {
            font-size: 6px;
            span {
                font-size: 6px;
            }
        }
        &__phone {
            font-size: 10px;
        }
    }
    .button {
        width: 100px;
        height: 25px;
        font-size: 8px;
        &_main {
            width: 150px;
            height: 50px;
            margin-top: 30px;
            margin-right: 50px;
            font-size: 13px;
        }
    }
    .promo {
        min-height: 605px;
        &__header {
            font-size: 22px;
        }
        &__subheader {
            margin-top: 2px;
            font-size: 14px;
        }
        &__icons {
            margin-top: 50px;
            width: 230px;
        }
        &__icon {
            font-size: 11px;
            padding-right: 23px;
        }
        &__link {
            margin-right: 50px;
        }
    }
    .advantages {
        &__header {
            margin-top: 50px;
            font-size: 24px;
        }
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-top: 15px;
            width: 185px;
        }
        &__text {
            margin-top: 0;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .carousel {
        &__inner {
            width: 310px;
        }
    }
}